<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
       <rewrite>
  <rules>
    <rule name="已导入的规则 1">
      <match url="^index.html$" ignoreCase="false" />
      <action type="Rewrite" url="index.php" />
    </rule>
    <rule name="已导入的规则 2">
      <match url="^music.html$" ignoreCase="false" />
      <action type="Rewrite" url="music.php" />
    </rule>
    <rule name="已导入的规则 3">
      <match url="^app.html$" ignoreCase="false" />
      <action type="Rewrite" url="app.php" />
    </rule>
    <rule name="已导入的规则 4">
      <match url="^baidu.xml$" ignoreCase="false" />
      <action type="Rewrite" url="baidu.php" />
    </rule>
    <rule name="已导入的规则 5">
      <match url="^user/index.html" ignoreCase="false" />
      <action type="Rewrite" url="user/index.php" />
    </rule>
    <rule name="已导入的规则 6">
      <match url="^user/login.html" ignoreCase="false" />
      <action type="Rewrite" url="user/login.php" />
    </rule>
    <rule name="已导入的规则 7">
      <match url="^user/reg.html" ignoreCase="false" />
      <action type="Rewrite" url="user/reg.php" />
    </rule>
    <rule name="已导入的规则 8">
      <match url="^user/plays.html" ignoreCase="false" />
      <action type="Rewrite" url="user/plays.php" />
    </rule>
    <rule name="已导入的规则 9">
      <match url="^user/buy.html" ignoreCase="false" />
      <action type="Rewrite" url="user/buy.php" />
    </rule>
    <rule name="已导入的规则 10">
      <match url="^user/upgrade.html" ignoreCase="false" />
      <action type="Rewrite" url="user/upgrade.php" />
    </rule>
    <rule name="已导入的规则 11">
      <match url="^user/orders.html" ignoreCase="false" />
      <action type="Rewrite" url="user/orders.php" />
    </rule>
    <rule name="已导入的规则 12">
      <match url="^user/plog.html" ignoreCase="false" />
      <action type="Rewrite" url="user/plog.php" />
    </rule>
    <rule name="已导入的规则 13">
      <match url="^user/reward.html" ignoreCase="false" />
      <action type="Rewrite" url="user/reward.php" />
    </rule>
    <rule name="已导入的规则 14">
      <match url="^user/favs.html" ignoreCase="false" />
      <action type="Rewrite" url="user/favs.php" />
    </rule>
    <rule name="已导入的规则 15">
      <match url="^movie.html$" ignoreCase="false" />
      <action type="Rewrite" url="movie.php" />
    </rule>
    <rule name="已导入的规则 16">
      <match url="^tv.html$" ignoreCase="false" />
      <action type="Rewrite" url="tv.php" />
    </rule>
    <rule name="已导入的规则 17">
      <match url="^zongyi.html$" ignoreCase="false" />
      <action type="Rewrite" url="zongyi.php" />
    </rule>
    <rule name="已导入的规则 18">
      <match url="^dongman.html$" ignoreCase="false" />
      <action type="Rewrite" url="dongman.php" />
    </rule>
    <rule name="已导入的规则 19">
      <match url="^yg.html$" ignoreCase="false" />
      <action type="Rewrite" url="yg.php" />
    </rule>
    <rule name="已导入的规则 20">
      <match url="^yg-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="yg.php?id={R:1}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 21">
      <match url="^mj.html$" ignoreCase="false" />
      <action type="Rewrite" url="mj.php" />
    </rule>
    <rule name="已导入的规则 22">
      <match url="^mj-([0-9]+)-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="mj.php?cid={R:1}&amp;page={R:2}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 23">
      <match url="^zb.html$" ignoreCase="false" />
      <action type="Rewrite" url="zb.php" />
    </rule>
    <rule name="已导入的规则 24">
      <match url="^zx.html$" ignoreCase="false" />
      <action type="Rewrite" url="zx.php" />
    </rule>
    <rule name="已导入的规则 25">
      <match url="^zx-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="zx.php?page={R:1}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 26">
      <match url="^zxnews-([0-9]+)-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="zxnews.php?dz=/{R:1}/{R:2}.shtml" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 27">
      <match url="^qxk.html$" ignoreCase="false" />
      <action type="Rewrite" url="qxk.php" />
    </rule>
    <rule name="已导入的规则 28">
      <match url="^qxk-([0-9]+)-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="qxk.php?cid={R:1}&amp;page={R:2}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 29">
      <match url="^qxplay/(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="qxplay.php?play={R:1}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 30">
      <match url="^vod(.*)$" ignoreCase="false" />
      <action type="Rewrite" url="play.php\?play={R:1}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 31">
      <match url="^search-(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="search.php?wd={R:1}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 32">
      <match url="^searchqw-(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="searchqw.php?wd={R:1}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 33">
      <match url="^qwplay-(.*)-(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="qwplay.php?zd={R:1}&amp;id={R:2}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 34">
      <match url="^news_index.html$" ignoreCase="false" />
      <action type="Rewrite" url="news_index.php" />
    </rule>
    <rule name="已导入的规则 35">
      <match url="^newss-([0-9]+)-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="news.php?dz=/{R:1}/{R:2}.shtml" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 36">
      <match url="^gbook.html$" ignoreCase="false" />
      <action type="Rewrite" url="gbook.php" />
    </rule>
    <rule name="已导入的规则 37">
      <match url="^gbook-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="gbook.php?page={R:1}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 38">
      <match url="^movie_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="movie.php?rank={R:1}&amp;cat={R:2}&amp;area={R:3}&amp;year={R:4}&amp;act={R:5}&amp;pageno={R:6}&amp;page={R:7}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 39">
      <match url="^tv_(.*)_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="tv.php?rank={R:1}&amp;cat={R:2}&amp;area={R:3}&amp;year={R:4}&amp;act={R:5}&amp;pageno={R:6}&amp;page={R:7}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 40">
      <match url="^dongman_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="dongman.php?rank={R:1}&amp;cat={R:2}&amp;area={R:3}&amp;year={R:4}&amp;pageno={R:5}&amp;page={R:6}" appendQueryString="false" />
    </rule>
    <rule name="已导入的规则 41">
      <match url="^zongyi_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="zongyi.php?rank={R:1}&amp;cat={R:2}&amp;area={R:3}&amp;act={R:4}&amp;pageno={R:5}&amp;page={R:6}" appendQueryString="false" />
    </rule>
	    <rule name="已导入的规则 42">
      <match url="^mx.html$" ignoreCase="false" />
      <action type="Rewrite" url="mx.php" />
    </rule>
	<rule name="已导入的规则 43">
      <match url="^mxk-([0-9]+).html$" ignoreCase="false" />
      <action type="Rewrite" url="mxk.php?page={R:1}" appendQueryString="false" />
    </rule>
	<rule name="已导入的规则 44">
      <match url="^mx_(.*)_(.*)_(.*)_(.*)_(.*)_(.*).html$" ignoreCase="false" />
      <action type="Rewrite" url="mx.php?dq={R:1}&amp;xb={R:2}&amp;zy={R:3}&amp;xx={R:4}&amp;xz={R:5}&amp;;zm={R:6}&amp;;sr={R:7}&amp;page={R:8}" appendQueryString="false" />
    </rule>
  </rules>
</rewrite>
    </system.webServer>
</configuration>
